/* 主页index的样式表 */

/* 顶部导航条容器 */
.header {
    width: 100%;
    line-height: 40px;
    height: 40px;
    background-color: #333;
}
.nav-bar a {
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}

.nav-bar a:hover{
    color: #fff;
}
.nav-bar .line {
    font-size: 12px;
    color: #424242;
    margin:0 0.5em;
}

.service, .nav-bar li {
    float: left;
}

.app-code {
		position: absolute;
		/* display: none; */
		height: 0px;
    width: 124px;
    background-color: #fff;
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		left: -38px;
		top: 40px;
		overflow: hidden;
		
		transition: height 0.3s;
}

.topbar-download:hover .app-code,
.app-code:hover{
		display: block;
		height: 148px;
	/* 	overflow: visible; */
}
.topbar-download:hover .triangle{
		display: block;
}

.topbar-download{
        position: relative;
        z-index: 9999;
}

.triangle{
	display: none;
}

.triangle::after {
		float: left;
		position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color:white;
    top:32px;
		left: 16px;
		z-index: 20;
}


.topbar-download .app-code img {
    width: "90px";
    height:"90px"; 
    margin: 16px 17px 11px 17px;
}

.topbar-download span {
    color: #000;
    font-size: 15px;
		margin-bottom: 20px;
}

.shop-cart,
.user-info{
    float: right;
    position: relative;
    z-index: 9999;
}

.shop-cart a {
    width: 120px;
    background-color: #424242;
    text-align: center;
    margin-left: 26px;
}
.shop-cart:hover a {
    background-color: #fff;
    color: #FF6700;
}
.shop-cart i {
    margin-right: 4px;
    font-size: 20px;
}

.shop-cart:hover .cart-bar,
.cart-bar:hover{
    height: 100px;
}

.cart-bar {
    position: absolute;
	/* display: none; */
	height: 0px;
    width: 316px;
    background-color: white;
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	right: 0px;
	top: 40px;
	overflow: hidden;
		
	transition: height 0.3s;
}

.cart-bar-txt {
    font-size:13px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
    right: 0;
}

.site-header {
    position: relative;
}

.header-bar {
    position: relative;
    height: 100px;
    /* background-color: salmon; */
}

.header-bar .logo {
    float: left;
    margin-top: 22px;
    height: 55px;
    width: 55px;
    position: relative;
    overflow: hidden;
}
.header-bar .logo a {
    position: absolute;
    height: 55px;
    width: 55px;
    background-color:#FF6700;
    transition: left 0.3s;
}
.header-bar .mi {
    position: absolute;
    left: 0;
    background-image: url(../img/小米logo.png);
    background-position: center;
}

.header-bar .home {
    left: -55px;
    position: absolute;
}


.header-bar .home i{
    top: 10px;
    left: 10px;
    position: absolute;
    color: white;
}

.header-bar .logo:hover .mi{
    left: 55px;
}
.header-bar .logo:hover .home{
    left: 0px;
}

/* 中间导航条 */
.header-navbar {
    float: left;
    width: 850px;
    /* background-color: yellow; */
    line-height: 100px;
    margin-left: 7px;
}

.header-navbar .nav{
    margin-left: 58px;
    height: 100px;
}

.header-navbar li {
    float: left;
}
.header-navbar li a{
    display: block;
    margin-right: 20px;
}

.all-goods {
    visibility: hidden;
}

.header-navbar li a:hover {
    color: #ff6700;
}



.header-navbar .goods-info {
    position: absolute;
    height: 0px;
    width: 100%;
    /* background-color: #bfa; */
    top: 100px;
    left: 0;
    overflow: hidden;
    transition: height 0.3s;
    z-index: 999;
}

/* .header-navbar li:not(:first-of-type):not(:nth-child(10)):not(:nth-child(9)):hover ~.goods-info, */
.header-navbar .show:hover ~ .goods-info,
.goods-info:hover{
    height: 228px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    /* border-top: 1px solid rgb(224, 224,224); */
    background-color: #fff;
    opacity: 0.9;
}
/* 搜索框 */
.search-wrapper {
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;

}

.search-wrapper .search-inp {
    box-sizing: border-box;
    float: left;
    padding: 0;
    border: none;
    height: 50px;
    width: 244px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid rgb(224, 224,224);
    outline: none;
}

.search {
    height: 50px;
}

.search:hover .search-inp{
    border-color: lightslategray;
}
.search:hover .search-btn{
    border-color: lightslategray;
}

.search-wrapper .search-inp:hover, 
.search-wrapper .search-inp:hover + button{
    border-color: lightslategray;
}

.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + button{
    border-color: #ff6700;
}

.search-wrapper .search-btn:hover{
    background-color: #ff6700;
    color: #fff;
    /* border: none; */
}

.search-wrapper .search-btn {
    float: left;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 17px;
    border: 1px solid rgb(224, 224,224);
    border-left: none;
    outline: none;
    transition: background-color 0.3s;
}

/* 内容区 */
.content-bar {
    height: 460px;
    width: 1226px;
    background-color: rgba(0, 0,255, 0.7);
    /* background-image: url(../img/轮播图1.jpg); */
    background-size: 100%;
    background-position: center;
}

.content-nav {
    position: absolute;
    left: 0;
    top: 100px;
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: #fff;
    z-index: 100;

}

.content-nav a i {
    float: right;
    margin-right: 0;
    line-height: 42px;
    font-size: 21px;
}

.content-nav ul {
    position: relative;
    float: left;
    padding: 20px 0;
    /* width: 234px; */
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
}

.content-nav ul li{
    width: 234px;
}

.content-nav ul li a {
    /* display: block; */
    width: 174px;
    margin-right: 0;
    line-height: 42px;
    color: white;
    /* margin-left: 30px; */
    font-size: 14px;
    padding: 0 30px;

}

.content-nav ul li a:hover {
    color: white;
    background-color: #ff6700;
}

/* 轮播图CSS */
.swiper{
    width: 1226px;
    height: 460px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.swiper ul{
    width: 9999px;
    overflow: hidden;
    /*清除浮动*/
    /*transition: 1s;*/
}
.swiper li{
    float: left;
    /*width: 520px;*/
    position: relative;
}
/*按钮*/
div.btn {
    position: absolute;
    top: 50%;
    left: 234px;
    width: 30px;
    height: 70px;
    
    margin-top: -15px;
    text-align: center;
    line-height: 70px;
    /* border-radius: 50%; */
    font-size: 40px;
    color:gray;
    /* background: white;
    opacity: .5; */
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
}
div.btn.next {
    left: 1196px;
}

div.btn:hover {
    background: gray;
    color: white;
}

.transi{
    transition: 500ms;
}
/*小圆点*/
ul.item{
    position: absolute;
    bottom: 15px;
    right: 20px;
    /* left: 50%;
    transform: translateX(-50%); */
    /*清除浮动*/
    overflow: hidden;
    z-index: 1000;
}
.item li{
    float: left;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    background-color: mediumturquoise;
    border-radius: 50%;
    margin: 0 5px;
}
.item li:hover{
    border: 1px solid gray;
    cursor:pointer
}
li.active{
    background: gray;
}
li img {
    width: 1227px;
    height: 460px;
}